body{
    margin: 0;
}
img{
    width: 190px;
    
}
div{
    text-align: center;
    background-color: #f5f5f5;
    border-top:1px solid #d5d5d5;
    padding:50px;
}
h1{
    text-align: center;
    font-family: tahoma;
    margin-top: 0;
}

h2{
    font-size: 24px;
    font-family: tahoma;
    text-align: center;

}
h3{
    font-size: 20px;
    font-family: tahoma;
}
p{
    font-family: tahoma;
    line-height: 28px;
    width: 930px;
    margin: 15px auto 30px auto;
    text-align: center;
}
span{
    font-weight: bold;
}
a{
    font-size: 14px;
    font-family: tahoma;
    font-weight: bold;
    color: white;
    padding:10px 30px;
    text-decoration: none;
    background-color: #4AB870;
    border: 5px solid #4AB870;
    border-radius: 25px;
}